.about-us {
    // .about-us__wrapper

    &__wrapper {
        display: flex;
        justify-content: center;
        background-color: $background-2;
        border-radius: 10px;
        gap: 50px;
        padding: 50px 0;
    }

    // .about-us__about

    &__about {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    // .about-us__title

    &__title {
        font-size: 30px;
        font-weight: 700;
    }

    // .about-us__text

    &__text {
        font-size: 20px;
        line-height: 140%;
    }

    // .about-us__img

    &__img {
        display: flex;
        align-items: center;
    }

    // .about-us__img-link

    &__img-link {
        & img {
            border-radius: 30px;
            width: 250px;
            height: 260px;
        }
    }
}

@media (max-width: 840px) {
    .about-us__wrapper {
        gap: 25px;
    }

    .about-us__title {
        font-size: 25px;
    }

    .about-us__text {
        font-size: 15px;
    }

    .about-us__img-link img {
        width: 200px;
        height: 210px;
    }
}

@media (max-width: 730px) {
    .about-us__wrapper {
        flex-direction: column;
        padding: 25px 0;
        align-items: center;
    }

    .about-us__title {
        text-align: center;
    }
}

@media (max-width: 530px) {
    .about-us__title {
        margin: 0;
        padding-bottom: 20px;
    }

    .about-us__text {
        font-size: 15px;
        text-align: center;
        width: 300px;
        margin: 0 auto;
    }

    .about-us__img-link img {
        width: 150px;
        height: 150px;
    }
}
