.prod-modal {
    border-radius: 10px;
    padding: 40px;
    width: 1100px;

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 50px;
    }
}

.modal-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px / 2);
    background-color: $background-3;
    border-radius: 15px;
    padding: 20px;

    &__container {
        overflow: hidden;
        width: 51%;
    }
    &__img {
        width: 460px;
        object-fit: cover;
        max-height: 100%;
    }
}

.modal-info {
    width: calc(50% - 20px / 2);

    &__memory {
        padding-bottom: 20px;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        color: $color-1;
        margin: 0;
        padding: 20px 0;
    }

    &__subtitle {
        font-size: 15px;
        font-weight: 500;
        color: $color-1;
    }

    &__price {
        padding-bottom: 20px;
    }

    &__current-price {
        font-size: 22px;
        font-weight: 700;
        color: $color-2;
        line-height: 16px;
    }

    &__order {
        background-color: $color-2;
        color: $background;
        border-radius: 10px;
        border: 1px solid transparent;
        text-transform: uppercase;
        padding: 10px 30px;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            background-color: rgb(70, 163, 88, 0.9);
        }
        &:active {
            background-color: rgb(70, 163, 88, 0.8);
        }
    }
}

.modal-memory {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    padding: 20px 0 0 0;
    margin: 0;

    &__item {
        list-style: none;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #eaeaea;
        background-color: $background;
        border-radius: 4px;
        padding: 6px 27px;
        max-width: 70px;
        font-size: 14px;
        font-weight: 500;
        color: $color-3;
        cursor: pointer;
    }
}

.modal-note {
    padding: 20px 0 0 0;
    margin: 0;

    &__item {
        list-style: none;
        font-size: 14px;
    }
}

.prod-bottom {
    &__title {
        margin: 0;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 16px;
        color: $color-1;
    }
}

.prod-chars__item {
    display: flex;

    &-title {
        font-size: 18px;
        width: 300px;
        border-bottom: 1px solid $color-3;
        border-right: 1px solid $color-3;
        padding: 10px;
    }

    &-params {
        font-size: 18px;
        width: 350px;
        border-bottom: 1px solid $color-3;
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    .prod-modal {
        width: 800px;
    }
}

@media (max-width: 835px) {
    .prod-modal {
        width: 600px;
    }

    .modal-slider {
        padding: 0;
    }

    .prod-modal__top {
        padding-bottom: 25px;
    }
}

@media (max-width: 620px) {
    .prod-modal {
        width: 400px;
    }

    .prod-modal__top {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .modal-slider {
        width: 300px;
    }

    .modal-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .modal-info__title {
        text-align: center;
    }

    .modal-info__memory {
        text-align: center;
    }

    .modal-memory {
        justify-content: center;
    }

    .modal-info__price {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .prod-modal {
        width: 300px;
    }

    .prod-chars {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .prod-chars__item {
        display: flex;
    }
}

@media (max-width: 310px) {
    .prod-modal {
        padding: 10px;
        width: 200px;
    }

    .modal-slider {
        width: 200px;
    }

    .modal-info__title {
        font-size: 18px;
    }

    .prod-bottom__title {
        font-size: 18px;
    }

    .prod-chars__item {
        flex-direction: column;
    }

    .prod-chars__item-title {
        font-size: 14px;
        border-bottom: 0;
        border-right: 0;
    }

    .prod-chars__item-params {
        font-size: 12px;
        border-bottom: 0;
    }
}
